Multi Label Classifier on Fashion Products Dataset (Small)

-https://www.kaggle.com/paramaggarwal/fashion-product-images-small

In [1]:
#importing dataset on google colab through Kaggle API
!pip install kaggle
!mkdir .kaggle
!mkdir ~/.kaggle

import json
token = {"username":"changed","key":"changed"}

with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json

!kaggle datasets download -d paramaggarwal/fashion-product-images-small

!ls

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.10)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Downloading fashion-product-images-small.zip to /content
 97% 550M/565M [00:03<00:00, 180MB/s]
100% 565M/565M [00:03<00:00, 161MB/s]
fashion-product-images-small.zip  sample_data

In [2]:
# Extracting Zip File
from zipfile import ZipFile 

file_name = "fashion-product-images-small.zip"
  
with ZipFile(file_name, 'r') as zip: 
    
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

Extracting all the files now...
Done!

In [3]:
!ls

fashion-product-images-small.zip  myntradataset  styles.csv
images				  sample_data

In [4]:
import pandas as pd

df = pd.read_csv('styles.csv',error_bad_lines=False)

df.head()

b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

      id gender  ...   usage                             productDisplayName
0  15970    Men  ...  Casual               Turtle Check Men Navy Blue Shirt
1  39386    Men  ...  Casual             Peter England Men Party Blue Jeans
2  59263  Women  ...  Casual                       Titan Women Silver Watch
3  21379    Men  ...  Casual  Manchester United Men Solid Black Track Pants
4  53759    Men  ...  Casual                          Puma Men Grey T-shirt

[5 rows x 10 columns]

In [5]:
df = df.dropna()
df.nunique()
df.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName'],
      dtype='object')

In [6]:
# Looking at all the unique labels in all categorical columns 
cat_columns = ['gender', 'masterCategory', 'subCategory', 'articleType','baseColour', 'season', 'year', 'usage']

for col in cat_columns:
    print(col)
    print(df[col].unique())
    print('-------------------------')

gender
['Men' 'Women' 'Boys' 'Girls' 'Unisex']
-------------------------
masterCategory
['Apparel' 'Accessories' 'Footwear' 'Personal Care' 'Free Items'
 'Sporting Goods' 'Home']
-------------------------
subCategory
['Topwear' 'Bottomwear' 'Watches' 'Socks' 'Shoes' 'Belts' 'Flip Flops'
 'Bags' 'Innerwear' 'Sandal' 'Shoe Accessories' 'Fragrance' 'Jewellery'
 'Lips' 'Saree' 'Eyewear' 'Scarves' 'Dress' 'Loungewear and Nightwear'
 'Wallets' 'Apparel Set' 'Headwear' 'Mufflers' 'Skin Care' 'Makeup'
 'Free Gifts' 'Ties' 'Accessories' 'Nails' 'Beauty Accessories'
 'Water Bottle' 'Skin' 'Eyes' 'Bath and Body' 'Gloves'
 'Sports Accessories' 'Cufflinks' 'Sports Equipment' 'Stoles' 'Hair'
 'Perfumes' 'Home Furnishing' 'Umbrellas' 'Wristbands' 'Vouchers']
-------------------------
articleType
['Shirts' 'Jeans' 'Watches' 'Track Pants' 'Tshirts' 'Socks' 'Casual Shoes'
 'Belts' 'Flip Flops' 'Handbags' 'Tops' 'Bra' 'Sandals' 'Shoe Accessories'
 'Sweatshirts' 'Deodorant' 'Formal Shoes' 'Bracelet' 'Lipstick' 'Flats'
 'Kurtas' 'Waistcoat' 'Sports Shoes' 'Shorts' 'Briefs' 'Sarees'
 'Perfume and Body Mist' 'Heels' 'Sunglasses' 'Innerwear Vests' 'Pendant'
 'Laptop Bag' 'Scarves' 'Dresses' 'Night suits' 'Skirts' 'Wallets'
 'Blazers' 'Ring' 'Kurta Sets' 'Clutches' 'Shrug' 'Backpacks' 'Caps'
 'Trousers' 'Earrings' 'Camisoles' 'Boxers' 'Jewellery Set' 'Dupatta'
 'Capris' 'Lip Gloss' 'Bath Robe' 'Mufflers' 'Tunics' 'Jackets' 'Trunk'
 'Lounge Pants' 'Face Wash and Cleanser' 'Necklace and Chains'
 'Duffel Bag' 'Sports Sandals' 'Foundation and Primer' 'Sweaters'
 'Free Gifts' 'Trolley Bag' 'Tracksuits' 'Swimwear' 'Shoe Laces'
 'Fragrance Gift Set' 'Bangle' 'Nightdress' 'Ties' 'Baby Dolls' 'Leggings'
 'Highlighter and Blush' 'Travel Accessory' 'Kurtis' 'Mobile Pouch'
 'Messenger Bag' 'Lip Care' 'Nail Polish' 'Eye Cream' 'Accessory Gift Set'
 'Beauty Accessory' 'Jumpsuit' 'Kajal and Eyeliner' 'Water Bottle'
 'Suspenders' 'Face Moisturisers' 'Lip Liner' 'Robe' 'Salwar and Dupatta'
 'Patiala' 'Stockings' 'Eyeshadow' 'Headband' 'Tights' 'Nail Essentials'
 'Churidar' 'Lounge Tshirts' 'Face Scrub and Exfoliator' 'Lounge Shorts'
 'Gloves' 'Wristbands' 'Tablet Sleeve' 'Ties and Cufflinks' 'Footballs'
 'Compact' 'Stoles' 'Shapewear' 'Nehru Jackets' 'Salwar' 'Cufflinks'
 'Jeggings' 'Hair Colour' 'Concealer' 'Rompers' 'Sunscreen' 'Booties'
 'Mask and Peel' 'Waist Pouch' 'Hair Accessory' 'Body Lotion' 'Rucksacks'
 'Basketballs' 'Lehenga Choli' 'Clothing Set' 'Mascara' 'Cushion Covers'
 'Key chain' 'Rain Jacket' 'Toner' 'Lip Plumper' 'Umbrellas'
 'Face Serum and Gel' 'Hat' 'Mens Grooming Kit' 'Makeup Remover'
 'Body Wash and Scrub' 'Suits' 'Ipad']
-------------------------
baseColour
['Navy Blue' 'Blue' 'Silver' 'Black' 'Grey' 'Green' 'Purple' 'White'
 'Beige' 'Brown' 'Bronze' 'Teal' 'Copper' 'Pink' 'Off White' 'Maroon'
 'Red' 'Khaki' 'Orange' 'Yellow' 'Charcoal' 'Gold' 'Steel' 'Tan' 'Multi'
 'Magenta' 'Lavender' 'Sea Green' 'Cream' 'Peach' 'Olive' 'Skin'
 'Burgundy' 'Coffee Brown' 'Grey Melange' 'Rust' 'Rose' 'Lime Green'
 'Mauve' 'Turquoise Blue' 'Metallic' 'Mustard' 'Taupe' 'Nude'
 'Mushroom Brown' 'Fluorescent Green']
-------------------------
season
['Fall' 'Summer' 'Winter' 'Spring']
-------------------------
year
[2011. 2012. 2016. 2017. 2015. 2014. 2010. 2013. 2018. 2019. 2007. 2009.
 2008.]
-------------------------
usage
['Casual' 'Ethnic' 'Formal' 'Sports' 'Smart Casual' 'Travel' 'Party'
 'Home']
-------------------------

The images in this Dataset are very low resolution (80x60).
We will be using the categories that are visually distinct even at such a low resolution. 

The categories we will use are articleType and baseColour.

There are many unique labels in these categories, we will only be using the ones with more than 1000 examples

In [25]:
value_counts = df['articleType'].value_counts()

indexes = value_counts.index

values = value_counts.values

for i in range(len(value_counts)):

    if values[i] <1000:
        break

types_used = indexes[:i]
print('Article types used: ',types_used)

Article types used: Index(['Tshirts', 'Shirts', 'Casual Shoes', 'Watches', 'Sports Shoes', 'Tops',
       'Handbags', 'Kurtas'],
      dtype='object')

In [26]:
value_counts = df['baseColour'].value_counts()

indexes = value_counts.index

values = value_counts.values

for i in range(len(value_counts)):

    if values[i] <1000:
        break

colours_used = indexes[:i]
print('Base Colours used: ',colours_used)

Base Colours used:  Index(['Black', 'White', 'Blue', 'Brown', 'Grey', 'Red', 'Green', 'Purple'], dtype='object')

In [9]:
# Removing all the examples with labels other than the selected ones
 
df = df[df['articleType'].isin(types_used)]
df = df[df['baseColour'].isin(colours_used)]

In [27]:
#number of examples we are left with
len(df)

21835

In [12]:
data = []

# Reading all the images and processing the data in them 

from tensorflow.keras.preprocessing.image import img_to_array
import cv2

IX = 80
IY = 60

invalid_ids = []

for name in df.id:

    try:
        image = cv2.imread('images/'+str(name)+'.jpg')
        image = cv2.resize(image, (IX,IY) )
        image = img_to_array(image)
        data.append(image)        
    except: 
        # Images for certain ids are missing, so they are not added to the dataset  
        invalid_ids.append(name)

In [13]:
# ids of missing images
print('invalid ids:')
print(invalid_ids)

invalid ids:
[39403, 39425]

In [14]:
labels = []

used_columns = ['subCategory','baseColour']

# getting labels for the columns used

for index, row in df.iterrows():

    if row['id'] in invalid_ids:
        continue

    tags = []

    for col in used_columns:
        tags.append(row[col])

    labels.append(tags)

In [15]:
import numpy as np

# converting data into numpy arrays

data = np.array(data, dtype="float") / 255.0
labels = np.array(labels)

print(labels)

[['Topwear' 'Navy Blue']
 ['Watches' 'Silver']
 ['Topwear' 'Grey']
 ...
 ['Shoes' 'White']
 ['Topwear' 'Blue']
 ['Watches' 'Pink']]

In [16]:
from sklearn.preprocessing import MultiLabelBinarizer

# creating a binary vector for the input labels 

mlb = MultiLabelBinarizer()
labels = mlb.fit_transform(labels)

print(mlb.classes_)
print(labels[0])

['Bags' 'Belts' 'Black' 'Blue' 'Brown' 'Eyewear' 'Free Gifts' 'Green'
 'Grey' 'Navy Blue' 'Pink' 'Purple' 'Red' 'Shoes' 'Silver' 'Topwear'
 'Watches' 'White']
[0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0]

In [28]:
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D

inputShape = (IY, IX, 3)

# A very simple sequential model is used since the images are very low resolution and the categories are fiarly distinct

model = Sequential()

model.add(Conv2D(32, (3, 3), padding="same",input_shape=inputShape))
model.add(Activation("relu"))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))

model.add(Conv2D(64, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))

model.add(Flatten()) 

model.add(Dense(128))
model.add(Activation('sigmoid'))


out = len(mlb.classes_)

model.add(Dense(out))
model.add(Activation('sigmoid')) # activation function for the final layer has to be sigmoid, since mutiple output labels can have value 1
                    
model.compile(loss='binary_crossentropy', # loss function has to be binary_crossentropy, it is calculated seperately for each of the outputs
              optimizer='adam',
              metrics=['mse'])

In [29]:

from sklearn.model_selection import train_test_split

# splitting data into testing and training set 

(trainX, testX, trainY, testY) = train_test_split(data,labels, test_size=0.1, random_state=42)

In [30]:
batch = 32
E = 50

#training the model 
model.fit(x=trainX,y=trainY,
          epochs=E ,verbose=1)

Epoch 1/50
615/615 [==============================] - 5s 7ms/step - loss: 0.2873 - mse: 0.0828
Epoch 2/50
615/615 [==============================] - 4s 6ms/step - loss: 0.1188 - mse: 0.0326
Epoch 3/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0928 - mse: 0.0257
Epoch 4/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0821 - mse: 0.0230
Epoch 5/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0778 - mse: 0.0218
Epoch 6/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0717 - mse: 0.0202
Epoch 7/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0672 - mse: 0.0189
Epoch 8/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0643 - mse: 0.0181
Epoch 9/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0616 - mse: 0.0173
Epoch 10/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0580 - mse: 0.0164
Epoch 11/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0563 - mse: 0.0158
Epoch 12/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0525 - mse: 0.0148
Epoch 13/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0516 - mse: 0.0146
Epoch 14/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0483 - mse: 0.0135
Epoch 15/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0488 - mse: 0.0137
Epoch 16/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0451 - mse: 0.0126
Epoch 17/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0406 - mse: 0.0113
Epoch 18/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0404 - mse: 0.0112
Epoch 19/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0366 - mse: 0.0101
Epoch 20/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0369 - mse: 0.0103
Epoch 21/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0335 - mse: 0.0092
Epoch 22/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0328 - mse: 0.0090
Epoch 23/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0309 - mse: 0.0084
Epoch 24/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0300 - mse: 0.0081
Epoch 25/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0285 - mse: 0.0077
Epoch 26/50
615/615 [==============================] - 4s 7ms/step - loss: 0.0262 - mse: 0.0070
Epoch 27/50
615/615 [==============================] - 4s 7ms/step - loss: 0.0261 - mse: 0.0070
Epoch 28/50
615/615 [==============================] - 4s 7ms/step - loss: 0.0247 - mse: 0.0066
Epoch 29/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0244 - mse: 0.0065
Epoch 30/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0228 - mse: 0.0061
Epoch 31/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0218 - mse: 0.0058
Epoch 32/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0207 - mse: 0.0054
Epoch 33/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0195 - mse: 0.0051
Epoch 34/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0201 - mse: 0.0053
Epoch 35/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0194 - mse: 0.0050
Epoch 36/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0172 - mse: 0.0044
Epoch 37/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0169 - mse: 0.0044
Epoch 38/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0158 - mse: 0.0040
Epoch 39/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0160 - mse: 0.0041
Epoch 40/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0164 - mse: 0.0043
Epoch 41/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0155 - mse: 0.0041
Epoch 42/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0150 - mse: 0.0039
Epoch 43/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0149 - mse: 0.0038
Epoch 44/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0138 - mse: 0.0035
Epoch 45/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0134 - mse: 0.0035
Epoch 46/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0125 - mse: 0.0031
Epoch 47/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0132 - mse: 0.0034
Epoch 48/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0124 - mse: 0.0032
Epoch 49/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0130 - mse: 0.0034
Epoch 50/50
615/615 [==============================] - 4s 6ms/step - loss: 0.0118 - mse: 0.0030

In [35]:
preds = model.predict(testX)


# since the predictions of the model are sigmoid, we will first binarize them to 0 or 1
pred_binarized = []

for pred in preds:
    vals = []
    for val in pred:
        if val > 0.5:
            vals.append(1)
        else:
            vals.append(0)
    pred_binarized.append(vals) 

pred_binarized = np.array(pred_binarized)   


# we convert the output vectors to the predicted labels
true_test_labels = mlb.inverse_transform(testY)
pred_test_labels = mlb.inverse_transform(pred_binarized)

correct = 0
wrong = 0

# Evaluating the predictions of the model

for i in range(len(testY)):

    true_labels = list(true_test_labels[i])

    pred_labels = list(pred_test_labels[i])

    label1 = true_labels[0]
    label2 = true_labels[1]

    if label1 in pred_labels:
        correct+=1
    else:
        wrong+=1

    if label2 in pred_labels:
        correct+=1
    else:
        wrong+=1    



print('correct: ', correct)
print('missing/wrong: ', wrong)
print('Accuracy: ',correct/(correct+wrong))

correct:  3669
missing/wrong:  699
Accuracy:  0.8399725274725275

We can see that this model identifies 83.99% of the labels correctly, let us see what that looks like in practice

In [38]:
for i in range(20):
    print('True labels: ',true_test_labels[i],' Predicted labels: ',pred_test_labels[i])

True labels:  ('Topwear', 'White')  Predicted labels:  ('Topwear', 'White')
True labels:  ('Black', 'Shoes')  Predicted labels:  ('Black', 'Shoes')
True labels:  ('Green', 'Topwear')  Predicted labels:  ('Green', 'Topwear')
True labels:  ('Purple', 'Topwear')  Predicted labels:  ('Pink', 'Topwear')
True labels:  ('Green', 'Topwear')  Predicted labels:  ('Green', 'Topwear')
True labels:  ('Shoes', 'White')  Predicted labels:  ('Shoes', 'White')
True labels:  ('Brown', 'Shoes')  Predicted labels:  ('Brown', 'Shoes')
True labels:  ('Black', 'Watches')  Predicted labels:  ('Black', 'Watches')
True labels:  ('Black', 'Watches')  Predicted labels:  ('Black', 'Watches')
True labels:  ('Red', 'Topwear')  Predicted labels:  ('Red', 'Topwear')
True labels:  ('Brown', 'Shoes')  Predicted labels:  ('Brown', 'Shoes')
True labels:  ('Black', 'Shoes')  Predicted labels:  ('Black', 'Shoes')
True labels:  ('Bags', 'Brown')  Predicted labels:  ('Bags', 'Brown')
True labels:  ('Shoes', 'White')  Predicted labels:  ('Shoes', 'White')
True labels:  ('Black', 'Topwear')  Predicted labels:  ('Black', 'Topwear')
True labels:  ('Black', 'Shoes')  Predicted labels:  ('Black', 'Shoes')
True labels:  ('Red', 'Topwear')  Predicted labels:  ('Red', 'Topwear')
True labels:  ('Shoes', 'White')  Predicted labels:  ('Shoes',)
True labels:  ('Blue', 'Topwear')  Predicted labels:  ('Blue', 'Topwear')
True labels:  ('Bags', 'Black')  Predicted labels:  ('Bags', 'Black')

We can see that this model performs very well in identifying both articleType and baseColour based on the images