In [1]:
!pip install kaggle
!mkdir .kaggle
!mkdir ~/.kaggle

import json
token = {"username":"tanmayakrsahni","key":"33888ab7e78c0b759c8d076db7cd57d6"}

with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json

!kaggle datasets download -d paramaggarwal/fashion-product-images-small

!ls

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.10)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
mkdir: cannot create directory ‘.kaggle’: File exists
mkdir: cannot create directory ‘/root/.kaggle’: File exists
fashion-product-images-small.zip: Skipping, found more recently modified local copy (use --force to force download)
fashion-product-images-small.zip  myntradataset  styles.csv
images				  sample_data

In [2]:
# importing required modules 
from zipfile import ZipFile 
  
# specifying the zip file name 
file_name = "fashion-product-images-small.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    # extracting all the files 
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

Extracting all the files now...
Done!

In [3]:
!ls

fashion-product-images-small.zip  myntradataset  styles.csv
images				  sample_data

In [4]:
import pandas as pd

df = pd.read_csv('styles.csv',error_bad_lines=False)

df.head()

b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

      id gender  ...   usage                             productDisplayName
0  15970    Men  ...  Casual               Turtle Check Men Navy Blue Shirt
1  39386    Men  ...  Casual             Peter England Men Party Blue Jeans
2  59263  Women  ...  Casual                       Titan Women Silver Watch
3  21379    Men  ...  Casual  Manchester United Men Solid Black Track Pants
4  53759    Men  ...  Casual                          Puma Men Grey T-shirt

[5 rows x 10 columns]

In [5]:
df.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName'],
      dtype='object')

In [6]:
df = df.dropna()

In [7]:
df.nunique()

id                    44077
gender                    5
masterCategory            7
subCategory              45
articleType             142
baseColour               46
season                    4
year                     13
usage                     8
productDisplayName    30806
dtype: int64

In [8]:
value_counts = df['articleType'].value_counts()

indexes = value_counts.index

values = value_counts.values

for i in range(len(value_counts)):

    if values[i] <1000:
        break

types_used = indexes[:i]
print(types_used)

Index(['Tshirts', 'Shirts', 'Casual Shoes', 'Watches', 'Sports Shoes',
       'Kurtas', 'Tops', 'Handbags', 'Heels', 'Sunglasses'],
      dtype='object')

In [9]:
df['gender'].value_counts()

Men       22109
Women     18357
Unisex     2126
Boys        830
Girls       655
Name: gender, dtype: int64

In [10]:
df = df[df['gender'] != 'Boys']
df = df[df['gender'] != 'Girls']

In [11]:
value_counts = df['baseColour'].value_counts()

indexes = value_counts.index

values = value_counts.values

for i in range(len(value_counts)):

    if values[i] <1000:
        break

colours_used = indexes[:i]
print(colours_used)

Index(['Black', 'White', 'Blue', 'Brown', 'Grey', 'Red', 'Green', 'Navy Blue',
       'Pink', 'Purple', 'Silver'],
      dtype='object')

In [12]:
df = df[df['articleType'].isin(types_used)]
df = df[df['baseColour'].isin(colours_used)]

In [13]:
cat_columns = ['gender', 'masterCategory', 'subCategory', 'articleType','baseColour', 'season', 'year', 'usage']

for col in cat_columns:
    print(col)
    print(df[col].unique())
    print('-------------------------')

gender
['Men' 'Women' 'Unisex']
-------------------------
masterCategory
['Apparel' 'Accessories' 'Footwear' 'Free Items']
-------------------------
subCategory
['Topwear' 'Watches' 'Shoes' 'Bags' 'Eyewear' 'Free Gifts' 'Belts']
-------------------------
articleType
['Shirts' 'Watches' 'Tshirts' 'Casual Shoes' 'Handbags' 'Kurtas'
 'Sports Shoes' 'Heels' 'Tops' 'Sunglasses']
-------------------------
baseColour
['Navy Blue' 'Silver' 'Grey' 'Green' 'Purple' 'Black' 'Blue' 'Brown'
 'White' 'Pink' 'Red']
-------------------------
season
['Fall' 'Winter' 'Summer' 'Spring']
-------------------------
year
[2011. 2016. 2012. 2015. 2014. 2010. 2013. 2018. 2017. 2007. 2009. 2008.]
-------------------------
usage
['Casual' 'Ethnic' 'Formal' 'Sports' 'Smart Casual' 'Party' 'Travel']
-------------------------

In [14]:
df['usage'].value_counts()

Casual          15804
Sports           2887
Ethnic           1407
Formal            839
Smart Casual       41
Travel              5
Party               4
Name: usage, dtype: int64

In [15]:
df = df[df['usage'] != 'Smart Casual']
df = df[df['usage'] != 'Travel']
df = df[df['usage'] != 'Party']

In [16]:
cat_columns = ['gender', 'masterCategory', 'subCategory', 'articleType','baseColour', 'season', 'year', 'usage']

for col in cat_columns:
    print(col)
    print(df[col].unique())
    print('-------------------------')

gender
['Men' 'Women' 'Unisex']
-------------------------
masterCategory
['Apparel' 'Accessories' 'Footwear' 'Free Items']
-------------------------
subCategory
['Topwear' 'Watches' 'Shoes' 'Bags' 'Eyewear' 'Free Gifts' 'Belts']
-------------------------
articleType
['Shirts' 'Watches' 'Tshirts' 'Casual Shoes' 'Handbags' 'Kurtas'
 'Sports Shoes' 'Heels' 'Tops' 'Sunglasses']
-------------------------
baseColour
['Navy Blue' 'Silver' 'Grey' 'Green' 'Purple' 'Black' 'Blue' 'Brown'
 'White' 'Pink' 'Red']
-------------------------
season
['Fall' 'Winter' 'Summer' 'Spring']
-------------------------
year
[2011. 2016. 2012. 2015. 2014. 2010. 2013. 2018. 2017. 2007. 2009. 2008.]
-------------------------
usage
['Casual' 'Ethnic' 'Formal' 'Sports']
-------------------------

In [17]:
df = df[df['subCategory'] != 'Free Gifts']

In [18]:
len(df)

20935

In [37]:
data = []

from tensorflow.keras.preprocessing.image import img_to_array
import cv2

IX = 80
IY = 60

invalid_ids = []

for name in df.id:

    try:
        image = cv2.imread('images/'+str(name)+'.jpg')
        image = cv2.resize(image, (IX,IY) )
        image = img_to_array(image)
        data.append(image)        
    except:   
        invalid_ids.append(name)

In [38]:
print('invalid ids:')
print(invalid_ids)

invalid ids:
[39403, 39425]

In [39]:
labels = []

used_columns = ['subCategory','baseColour']

for index, row in df.iterrows():

    if row['id'] in invalid_ids:
        continue

    tags = []

    for col in used_columns:
        tags.append(row[col])

    labels.append(tags)

In [40]:
import numpy as np

data = np.array(data, dtype="float") / 255.0
labels = np.array(labels)

print(labels)

[['Topwear' 'Navy Blue']
 ['Watches' 'Silver']
 ['Topwear' 'Grey']
 ...
 ['Shoes' 'White']
 ['Topwear' 'Blue']
 ['Watches' 'Pink']]

In [41]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
labels = mlb.fit_transform(labels)

print(mlb.classes_)
print(labels[0])

['Bags' 'Belts' 'Black' 'Blue' 'Brown' 'Eyewear' 'Green' 'Grey'
 'Navy Blue' 'Pink' 'Purple' 'Red' 'Shoes' 'Silver' 'Topwear' 'Watches'
 'White']
[0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0]

In [42]:
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D

inputShape = (IY, IX, 3)


model = Sequential()

model.add(Conv2D(64, (3, 3), padding="same",input_shape=inputShape))
model.add(Activation("relu"))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))

model.add(Conv2D(64, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))

model.add(Flatten()) 

model.add(Dense(128))
model.add(Activation('sigmoid'))


out = len(mlb.classes_)

model.add(Dense(out))
model.add(Activation('sigmoid'))
                    
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['mse'])

In [43]:

from sklearn.model_selection import train_test_split


(trainX, testX, trainY, testY) = train_test_split(data,labels, test_size=0.1, random_state=42)

In [44]:
batch = 32
E = 50


model.fit(x=trainX,y=trainY,
          epochs=E ,verbose=1)

Epoch 1/50
589/589 [==============================] - 5s 8ms/step - loss: 0.2918 - accuracy: 0.1257
Epoch 2/50
589/589 [==============================] - 5s 8ms/step - loss: 0.1247 - accuracy: 0.2617
Epoch 3/50
589/589 [==============================] - 5s 8ms/step - loss: 0.1014 - accuracy: 0.2630
Epoch 4/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0903 - accuracy: 0.2634
Epoch 5/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0829 - accuracy: 0.2632
Epoch 6/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0791 - accuracy: 0.2669
Epoch 7/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0740 - accuracy: 0.2726
Epoch 8/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0729 - accuracy: 0.2673
Epoch 9/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0668 - accuracy: 0.2702
Epoch 10/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0663 - accuracy: 0.2674
Epoch 11/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0618 - accuracy: 0.2603
Epoch 12/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0589 - accuracy: 0.2661
Epoch 13/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0583 - accuracy: 0.2696
Epoch 14/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0552 - accuracy: 0.2737
Epoch 15/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0520 - accuracy: 0.2673
Epoch 16/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0510 - accuracy: 0.2719
Epoch 17/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0478 - accuracy: 0.2747
Epoch 18/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0457 - accuracy: 0.2692
Epoch 19/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0428 - accuracy: 0.2727
Epoch 20/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0430 - accuracy: 0.2658
Epoch 21/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0399 - accuracy: 0.2654
Epoch 22/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0382 - accuracy: 0.2709
Epoch 23/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0360 - accuracy: 0.2714
Epoch 24/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0357 - accuracy: 0.2678
Epoch 25/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0337 - accuracy: 0.2743
Epoch 26/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0329 - accuracy: 0.2737
Epoch 27/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0319 - accuracy: 0.2781
Epoch 28/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0308 - accuracy: 0.2725
Epoch 29/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0297 - accuracy: 0.2748
Epoch 30/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0276 - accuracy: 0.2707
Epoch 31/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0269 - accuracy: 0.2679
Epoch 32/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0253 - accuracy: 0.2808
Epoch 33/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0247 - accuracy: 0.2746
Epoch 34/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0239 - accuracy: 0.2757
Epoch 35/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0235 - accuracy: 0.2751
Epoch 36/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0234 - accuracy: 0.2702
Epoch 37/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0213 - accuracy: 0.2803
Epoch 38/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0210 - accuracy: 0.2763
Epoch 39/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0202 - accuracy: 0.2742
Epoch 40/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0191 - accuracy: 0.2772
Epoch 41/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0184 - accuracy: 0.2776
Epoch 42/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0184 - accuracy: 0.2825
Epoch 43/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0175 - accuracy: 0.2813
Epoch 44/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0162 - accuracy: 0.2822
Epoch 45/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0169 - accuracy: 0.2847
Epoch 46/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0160 - accuracy: 0.2779
Epoch 47/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0169 - accuracy: 0.2899
Epoch 48/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0150 - accuracy: 0.2850
Epoch 49/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0149 - accuracy: 0.2869
Epoch 50/50
589/589 [==============================] - 5s 8ms/step - loss: 0.0160 - accuracy: 0.2867

In [65]:
preds = model.predict(testX)

pred_binarized = []

for pred in preds:
    vals = []
    for val in pred:
        if val > 0.5:
            vals.append(1)
        else:
            vals.append(0)
    pred_binarized.append(vals) 

pred_binarized = np.array(pred_binarized)

In [53]:
testY

array([[0, 0, 1, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 1, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [51]:
from sklearn.metrics import mean_squared_error

In [66]:
true_test_labels = mlb.inverse_transform(testY)
pred_test_labels = mlb.inverse_transform(pred_binarized)

In [76]:
for i in range(30):

    true_label = true_test_labels[i]

    pred_label = pred_test_labels[i]

    print(true_label,pred_label)

('Black', 'Topwear') ('Black', 'Topwear')
('Red', 'Shoes') ('Red', 'Shoes')
('Green', 'Topwear') ('Green', 'Topwear')
('Grey', 'Shoes') ('Grey', 'Shoes')
('Navy Blue', 'Shoes') ('Navy Blue', 'Shoes')
('Black', 'Topwear') ('Black', 'Topwear')
('Blue', 'Topwear') ('Blue', 'Topwear')
('Brown', 'Shoes') ('Shoes',)
('Grey', 'Shoes') ('Grey', 'Shoes')
('Topwear', 'White') ('Topwear',)
('Blue', 'Topwear') ('Blue', 'Topwear')
('Blue', 'Topwear') ('Blue', 'Topwear')
('Topwear', 'White') ('Topwear', 'White')
('Topwear', 'White') ('Topwear', 'White')
('Green', 'Topwear') ('Green', 'Topwear')
('Topwear', 'White') ('Topwear', 'White')
('Blue', 'Topwear') ('Topwear',)
('Green', 'Topwear') ('Green', 'Topwear')
('Black', 'Shoes') ('Black', 'Shoes')
('Black', 'Shoes') ('Black', 'Shoes')
('Silver', 'Watches') ('Blue', 'Watches')
('Red', 'Shoes') ('Red', 'Shoes')
('Shoes', 'Silver') ('Shoes',)
('Brown', 'Shoes') ('Brown', 'Shoes')
('Navy Blue', 'Topwear') ('Topwear',)
('Topwear', 'White') ('Topwear',)
('Topwear', 'White') ('Topwear', 'White')
('Blue', 'Topwear') ('Blue', 'Topwear')
('Black', 'Eyewear') ('Black', 'Eyewear')
('Black', 'Shoes') ('Black', 'Shoes')